img {
    position: relative;
    float: left;
    width:  250px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
body         {
	
	background-color: #D3D3D3;
	font-weight: bold;
	text-align: center;
}
p 			{
	text-align: center;
}

table {
	text-align: center;
}